*{
  margin: 0;
  padding: 0;
}

html, 
body{
  font-size: 18px;
  background-color: #f5f6f7;
}

h1 {
  max-width: 940 px; /*el tamaño maximo del titulo*/
  font-size: 2.5em;/* tamaño d ela letra*/
  font-size: Lato, sans-serif;/*tipo de letra*/
  font-weight: 700;/*peso de la letra*/
  line-height: 1.1;/*la altura de la linea*/
  margin: 40px 0; /*el margen superior e inferior y derecho izquierdo*/
}

.App{
  min-height:100vh;/*altura minima*/
  display: flex; /*herramienta para decidir como se van a ubicar los elementos de contenedor*/
  flex-wrap: wrap; /*si un elemento toma todo el ancho del contenedor los toros elementos se ubican en la siguiente linea*/
  align-items: center; /*se van alinear al centro*/
  justify-content: center; /*centra los elemento horizontal y verticalmente*/
  text-align: center; /*alinea al texto al centro*/

}

.contenedor-principal{
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}